    <footer class="bg-dark text-white text-center py-4">
      <div class="container" >
        <p>Dayanna Flores 2024. Todos los derechos reservados</p>
        <p><a href="https://www.linkedin.com/in/dcff-a9b833a2/" target="_blank"> <i class="fa-brands fa-linkedin" style="color: #B197FC;"></i></a>
        <a href="https://github.com/dayanaff7" target="_blank"><i class="fa-brands fa-github" style="color: #B197FC;"></i></a></p>
        
      </div>
    </footer>